{% extends "default" %}


{% block page_body %}
{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
{% endblock %}



{% block scripts_after %}
<script>
    // c = crosshair
    // s = shield
    // b = battery
    // u = unknown
    var attributes = {
{name: 'Accuracy', type: 'u'},
{name: 'Armor % on Kill', type: 'u'},
{name: 'Armor / s Regeneration', type: 's'},
{name: 'Armor On Kill', type: 's'},
{name: 'Assault Rifle Critical Hit Chance', type: 'c'},
{name: 'Assault Rifle Critical Hit Damage', type: 'c'},
{name: 'Assault Rifle Damage', type: 'c'},
{name: 'Bleed Damage', type: 'b'},
{name: 'Blind/Deaf Resistance', type: 's'},
{name: 'Bonus Armor', type: 's'},
{name: 'Burn Damage', type: 'b'},
{name: 'Burn Resistance', type: 's'},
{name: 'Chem Launcher Skill Power', type: 'b'},
{name: 'Cooldown Reduction', type: 'b'},
{name: 'Critical Chance Resistance', type: 's'},
{name: 'Critical Hit Chance', type: 'c'},
{name: 'Critical Hit Damage', type: 'c'},
{name: 'Critical Range', type: 'c'},
{name: 'Damage to Armor', type: 'c'},
{name: 'Damage to Elites', type: 'c'},
{name: 'Damage to Health', type: 'c'},
{name: 'Disorient Resistance', type: 's'},
{name: 'Disrupt Resistance', type: 's'},
{name: 'Drone Skill Power', type: 'b'},
{name: 'Ensnare Resistance', type: 's'},
{name: 'Explosive Damage', type: 'u'},
{name: 'Explosive Resistance', type: 's'},
{name: 'Extra Incoming Healing', type: 's'},
{name: 'Firefly Skill Power', type: 'b'},
{name: 'Hazard Protection', type: 's'},
{name: 'Headshot Damage', type: 'c'},
{name: 'Headshot Kill XP', type: 'b'},
{name: 'Health on Kill', type: 's'},
{name: 'Health Regen', type: 's'},
{name: 'Health', type: 's'},
{name: 'Hive Skill Power', type: 'b'},
{name: 'Increased Bleed Duration', type: 'b'},
{name: 'Increased Blind Duration', type: 'b'},
{name: 'Increased Burn Duration', type: 'b'},
{name: 'Increased Confuse Duration', type: 'b'},
{name: 'Increased Disrupt Duration', type: 'b'},
{name: 'Increased Ensnare Duration', type: 'b'},
{name: 'Increased Kill XP', type: 'b'},
{name: 'Increased Poison Duration', type: 'b'},
{name: 'Increased Shock Duration', type: 'b'},
{name: 'LMG Damage', type: 'c'},
{name: 'Marksman Rifle Critical Hit Chance', type: 'c'},
{name: 'Marksman Rifle Critical Hit Damage', type: 'c'},
{name: 'Marksman Rifle Damage', type: 'c'},
{name: 'Optimal Range', type: 'c'},
{name: 'Pistol Damage', type: 'c'},
{name: 'Poison Resistance', type: 's'},
{name: 'Protection from Elites', type: 's'},
{name: 'Pulse Skill Power', type: 'b'},
{name: 'Reload Speed', type: 'b'},
{name: 'Rifle Damage', type: 'c'},
{name: 'Seeker Skill Power', type: 'b'},
{name: 'Shield Skill Power', type: 'b'},
{name: 'Shock Resistance', type: 's'},
{name: 'Shotgun Damage', type: 'c'},
{name: 'Skill Health', type: 's'},
{name: 'Skill Power', type: 'b'},
{name: 'SMG Critical Hit Chance', type: 'c'},
{name: 'SMG Critical Hit Damage', type: 'c'},
{name: 'SMG Damage', type: 'c'},
{name: 'Total Armor', type: 's'},
{name: 'Turret Skill Power', type: 'b'},
{name: 'Weapon Damage', type: 'c'},
{name: 'Weapon Handling', type: 'b'},
{name: 'XP Weakpoint Kills', type: 'b'},
    };

    var gear = {
        m: {
            name: 'Mask',
            attributes: { min: 2, max: 3, available: []},
            talents: { min: 0, max: 1, available: []},
            modslots: { min: 0, max: 1}
        },
        c: {
            name: 'Chest',
            attributes: { min: 3, max: 4, available: []},
            talents: { min: 0, max: 2, available: []},
            modslots: { min: 1, max: 3}
        },
        h: {
            name: 'Holster',
            attributes: { min: 1, max: 3, available: []},
            talents: { min: 0, max: 1, available: []},
            modslots: { min: 0, max: 2}
            },
        b: {
            name: 'Backpack',
            attributes: { min: 2, max: 4, available: []},
            talents: { min: 0, max: 2, available: []},
            modslots: { min: 0, max: 2}
        },
        g: {
            name: 'Gloves',
            attributes: { min: 1, max: 3, available: []},
            talents: { min: 0, max: 1, available: []},
            modslots: { min: 0, max: 1}
        },
        k: {
            name: 'Holster',
            attributes: { min: 1, max: 2, available: []},
            talents: { min: 0, max: 2, available: []},
            modslots: { min: 0, max: 2}
        }
    };

    // - Airaldi Holdings: +10% Accuracy, +10% Headshot Damage, +10% Marksman Rifle Damage
    // - Alps Summit Armament: +10% Cooldown Reduction, +5% Skill Power, +15 Hive Skill Power
    // - Badger Tuff: +7% Damage to Elites, +15% Armor % on Kill, +15 Chem Launcher Skill Power
    // - China Light Industries Corporation: +10% Explosive Damage, +10% Shotgun Damage, +10% Cooldown Reduction
    // - Douglas & Harding: +5% Accuracy, +10% Critical Hit Damage, +7% Critical Hit Chance
    // - Fenris Group AB: +10% Assault Rifle Damage, +10% Protection from Elites, +20% Health on Kill
    // - Gila Guard: +5% Total Armor, +20% Hazard Protection, +15 Pulse Skill Power
    // - Murakami Industries: +8% Health, +10% Hazard Protection, +15% Firefly Skill Power
    // - Overlord Armaments: +10% Rifle Damage, +7.5% Total Armor, +7% Damage to Elites
    // - Petrov Devense Group: +10% LMG Damage, +15 Turret Skill Power, +10% Cooldown Reduction
    // - Providence Defense: +10% Skill Power, +8% Health, +5% Weapon Damage
    // - Richter & Kaiser GmbH: +10% Hazard Protection, +20% Pistol Damage, +15 Shield Skill Power
    // - Sokolov Concern: +10% SMG Damage, +8% Critical Hit Damage, +15 Seeker Skill Power
    // - Wyvern Wear: +7% Critical Hit Damage, +15% Drone Skill Power, +10% Critical Hit Chance
    // - Yaahl Gear: +10% Weapon Handling, +8% Hazard Protection, +5% Weapon Damage


    var brands = {
        1: {name: '5.11 Tactical', tiers: { 1: {attribute: 0, value: 5}, 2: {attribute: 0, value: 10}, 3: {attribute: 0, value: 10}}},
        2: {name: 'Airaldi Holdings', tiers: { 1: {attribute: 0, value: 10}, 2: {attribute: 0, value: 10}, 3: {attribute: 0, value: 10}}},
        3: {name: 'Alps Summit Armament',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        4: {name: 'Badger Tuff',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        5: {name: 'China Light Industries Corporation',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        6: {name: 'Douglas & Harding',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        7: {name: 'Fenris Group AB',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        8: {name: 'Gila Guard',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        9: {name: 'Murakami Industries',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        10: {name: 'Overlord Armaments',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        11: {name: 'Petrov Devense Group',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        12: {name: 'Providence Defense',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        13: {name: 'Richter & Kaiser GmbH',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        14: {name: 'Sokolov Concern',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        15: {name: 'Wyvern Wear',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}},
        16: {name: 'Yaahl Gear',tiers: { 1: {attribute: 0, value: 0}, 2: {attribute: 0, value: 0}, 3: {attribute: 0, value: 0}}}
    };

    var strings = {
        'none': 'None'
    };

    function addOption(inputName, name, value) {
        var option = new Option(name, value);
        $(option).html(name);
        $(inputName).append(option);
    }

    // Add the none options
    addOption("select[name='mask[type]']", strings['none'], 0);
    addOption("select[name='backpack[type]']", strings['none'], 0);
    addOption("select[name='chest[type]']", strings['none'], 0);
    addOption("select[name='gloves[type]']", strings['none'], 0);
    addOption("select[name='holster[type]']", strings['none'], 0);
    addOption("select[name='kneepads[type]']", strings['none'], 0);

    Object.keys(brands).forEach(function(key,index) {
        addOption("select[name='mask[type]']", brands[key].name, brands[key].id);
        addOption("select[name='backpack[type]']", brands[key].name, brands[key].id);
        addOption("select[name='chest[type]']", brands[key].name, brands[key].id);
        addOption("select[name='gloves[type]']", brands[key].name, brands[key].id);
        addOption("select[name='holster[type]']", brands[key].name, brands[key].id);
        addOption("select[name='kneepads[type]']", brands[key].name, brands[key].id);
    });



</script>

{% endblock %}