{% extends "default" %}

{% block viewport %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block head_styles %}
<link rel="stylesheet" href="/leaflet/leaflet.css" />
{% endblock %}

{% block head_scripts %}
<script src="/leaflet/leaflet.js"></script>
<script src="/js/map.js"></script>
{% endblock %}

{# Used to blank the content for the map, while keeping the header intact #}

{% block page_body %}
{% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
{% endblock %}