<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% if site.google_tag_manager_id %}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ site.google_tag_manager_id }}');</script>
        {% endif %}

        <title>{% block title %}{{ page.title }}{% endblock %}</title>
        <meta name="description" content="{% if page.meta.description %}{{page.meta.description}}{% else %}{{ site.meta.description }}{% endif %}">

        {% block head_meta %}
        {% endblock %}

        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/images/favicons/android-chrome-192x192.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="/images/favicons/site.webmanifest">
        <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="apple-mobile-web-app-title" content="The Division 2">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="application-name" content="The Division 2">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:image" content="{{ site.url }}/images/og/{% if page.meta.og.image %}{{ page.meta.og.image }}{% else %}{{ site.meta.og.image }}{% endif %}">
        <meta property="og:image:height" content="500">
        <meta property="og:image:width" content="1000">
        <meta property="og:description" content="{% if page.meta.description %}{{page.meta.description}}{% else %}{{ site.meta.description }}{% endif %}">
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@gamestrafe">
        <meta name="twitter:creator" content="@gamestrafe">
        <meta name="twitter:image:alt" content="{{ page.title }}">

        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
    </head>
    <body>
        {% if site.google_tag_manager_id %}<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager_id }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{% endif %}
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">
                    <img src="/images/the-division-2.png" alt="{{ site.title }}" height="56" width="234">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/map.html">Map</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarInfo" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Info
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarInfo">
                                <a class="dropdown-item" href="/weapons.html">Weapons</a>
                                <a class="dropdown-item" href="/weapon-mods.html">Weapon Mods</a>
                                <a class="dropdown-item" href="/weapon-talents.html">Weapon Talents</a>
                                <a class="dropdown-item" href="/gear.html">Gear</a>
                                <a class="dropdown-item" href="/crafting.html">Crafting</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/map.html">Map</a>
                                <a class="dropdown-item" href="/dark-zone.html">Dark Zone</a>
                                <a class="dropdown-item" href="/raids.html">Raids</a>
                                <a class="dropdown-item" href="/missions.html">Main Missions</a>
                                <a class="dropdown-item" href="/side-missions.html">Side Missions</a>
                                <a class="dropdown-item" href="/end-game.html">End Game</a>
                                <a class="dropdown-item" href="/locations.html">Locations</a>
                                <a class="dropdown-item" href="/skills.html">Skills</a>
                                <a class="dropdown-item" href="/perks.html">Perks</a>
                                <a class="dropdown-item" href="/collectibles.html">Collectibles</a>
                                <a class="dropdown-item" href="/projects.html">Projects</a>
                                <a class="dropdown-item" href="/specializations.html">Specializations</a>
                                <a class="dropdown-item" href="/clans.html">Clans</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/patch-notes.html">Patch Notes</a>
                                <a class="dropdown-item" href="/story.html">Story</a>
                                <a class="dropdown-item" href="/factions.html">Factions</a>
                                <a class="dropdown-item" href="/characters.html">Characters</a>
                                <a class="dropdown-item" href="/other.html">Everything else</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarSite" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Site
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarSite">
                                <a class="dropdown-item" href="/about.html">About</a>
                                <a class="dropdown-item" href="/contribute.html">Contribute</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://gamestrafe.com">
                                <img src="/images/gamestrafe.png" alt="GameStrafe" height="26" width="206">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        {% block page_body %}
        <div class="mainContent container">
            <div class="row">
                <div class="col">
                    {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
                </div>
            </div>
        </div>

        <footer class="container">
            <div class="row">
                <div class="col">
                    <p>
                        The content of the {{site.title}} page has been compiled by the <a href="https://gamestrafe.com">GameStrafe</a> contributors<br />
                        Follow <a href="https://twitter.com/GameStrafe">GameStrafe on Twitter</a>

                    </p>
                </div>
            </div>
        </footer>
        {% endblock %}

        <script src="/js/jquery-3.3.1.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>

        {% block scripts %}
        {% endblock %}

        {% block scripts_after %}
        {% endblock %}
    </body>
</html>
