body {
    background-color: #dbd7d1;
    background-image: url("/images/bg-thedivision2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

.nav-link, .dropdown-item {
    font-size: 1.2rem;
}

/* Tables */
.mainContent table {
    width: 100%;
}

h1 {
    margin-top: 0.5rem;
    padding-bottom: .5rem;
    border-bottom: #1b1e21 solid 1px;
}

.mainContent table td, .mainContent table th {
    padding: .3rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.mainContent table tbody tr:hover {
    background-color: rgba(0,0,0,.075);
}

blockquote {
    padding-left: 1rem;
    border-left: #4e555b 2px solid;
    color: #4e555b;
}

footer {
    border-top: #0f0f0f dotted 1px;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.7rem;
    padding-top: 0.8rem;
}

.leaflet-control-layers-group-label {
    border-bottom: #1d2124 1px solid;
    font-weight: bold;
    font-size: 1.1em;
}